body {
    background: linear-gradient(to bottom right , #9b59b6, #34495e);
}

main {
    text-align: center;
    max-width: 512px;
    margin: 0 auto;
}

h1 {
    color: #2c3e50;
    font-weight: bold;
    font-size: 44px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
}

button {
    margin: 10px 0;
}

canvas {
    border-radius: 10px;
    border: 2px solid #222;
    box-shadow: 0 0 7px 0 #222;
}